#cabecera {
  color: white;
  background-color: black;
}

#section1 {
  background-color: #f0a83e;
}

#logo1 {
  width: 200px;
  height: 50px;
  top: 20px;
}

#section1letras {
  color: white;
}

#patita1 {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 18px;
  top: 137px;
}

#patita2 {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 18px;
  top: 153px;
}

#patita3 {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 18px;
  top: 170px;
}

#patita4 {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 18px;
  top: 189px;
}

#letragrande1 {
  text-align: center;
  color: #502f00;
}

#fondo1 {
  width: 1140px;
  height: 400px;
  left: 18px;
}

#letraenfondo1 {
  position: absolute;
  left: 478px;
  top: 290px;
  color: #502f00;
}

#letra2enfondo1 {
  position: absolute;
  left: 514px;
  top: 320px;
  color: white;
  background-color: #f0a83e;
}

#Productos {
  color: #502f00;
}

#Productosback {
  background-color: #fbfaf6;
}

#iconos {
  width: 80px;
  height: 80px;
}

#logo2 {
  width: 210px;
  height: 35px;
}

.footer {
  background-color: #f0a83e;
  text-align: center;
  color: white;
}
